header {
	background-color: yellow;
}

header h1 {
	font-size: 60px;
	margin: 0;
	padding: 7px 0px 7px 22px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

header a {
	text-decoration: none;
	color: black;
}
 
/* Nav bar */
 
nav {
	background-color: #333333;
	margin: 0;
}

.navbar-item {
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

nav li a {
	color: white;
	text-decoration: none;
	padding: 10px;
}

nav li a:hover {
	background-color: #444444;
}

nav .navbar-right {
	float: right;
}

nav a:visited {
	color: white;
}

.navbar-list {
	list-style-type: none;
	margin: 0;
}

#telemetryrocket {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#telemetryrocket td, #telemetryrocket th {
    border: 1px solid #ddd;
    padding: 8px;
}

#telemetryrocket tr:nth-child(even){background-color: #f2f2f2;}

#telemetryrocket tr:hover {background-color: #ddd;}

#telemetryrocket th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #C34500;
    color: white;
}

.w3-center {
	text-align: center;
}

.mySlides {display: none}
