<!DOCTYPE html>
<html>
<head>
	<title>High Altitude Rocketry Team</title>
	<meta charset="utf-8">
	<base href="/">
	<link rel="stylesheet" href="css/style.css">

 <header>
     <nav>
       <ul class="navbar-list">
         <li class="navbar-item"><a href="/">Home</a></li>
         <li class="navbar-item"><a href="/pages/linegraph">Line Graph</a></li>
         <li class="navbar-item navbar"><a href="/pages/3d">3D View</a></li>
	<li class="navbar-item"><a href="/pages/table">Table</a></li>
				 <li class="navbar-item navbar"><a href="/logs">Logs</a></li>
				 <li class="navbar-item navbar-right"><a href="/pages/about">About</a></li>
       </ul>
     </nav>
   </header>
	 <main>
	 
