<div id="booster-current">
</div>

<div id="sustainer-current">
</div>


<script>
	var exampleSocket = new WebSocket("ws://" + window.location.host);
	var lastSustainerPacket = 0;
	var lastBoosterPacket = 0;
	var susLat = 0;
	var susLong = 0;
	var boostLat = 0;
	var boostLong = 0;
	var susApogee = 0;
	var boostApogee = 0;


	exampleSocket.onmessage = function(event) {
		packet = JSON.parse(event.data);

			var timeSinceLast = 0;		
	
			if (packet.part === "Booster") {
				timeSinceLast = packet.timestamp - lastBoosterPacket;
				lastBoosterPacket = packet.timestamp;
				if (packet.latitude !== 0) {
					boostLat = packet.latitude;
				}
				if (packet.longitude !== 0) {
					boostLong = packet.longitude;	
				}
				if (packet.altitude > boostApogee) {
					boostApogee = packet.altitude;
				}
			} else if (packet.part === "Sustainer") {
				timeSinceLast = packet.timestamp - lastSustainerPacket;

				lastSustainerPacket = packet.timestamp;

				if (packet.latitude !== 0) {
					susLat = packet.latitude;
				}
				if (packet.longitude !== 0) {
					susLong = packet.longitude;	
				}
				if (packet.altitude > susApogee) {
					susApogee = packet.altitude;
				}

			}
			

			var text = '';
			text += ' Part: ' + packet.part + '<br>'
				+ 'Mode: ' + packet.mode + '<br>'
				+ ' Raw altitude: ' + packet.altitude + '<br>'
				+ ' GPS altitude: ' + packet.gps_altitude + '<br>'
				+ ' Apogee: ' + (packet.part === "Booster"? boostApogee: susApogee) + '<br>'
				+ ' Kalman altitude: ' + packet.kalman_altitude + '<br>'
				+ ' Latitude: ' + packet.latitude + '<br>'
				+ ' Longitude: ' + packet.longitude + '<br>'
				+ ' Last lat: ' + (packet.part === "Booster"? boostLat: susLat) + '<br>'
				+ ' Last long: ' + (packet.part === "Booster"? boostLong: susLong) + '<br>'
				+ ' Accelerometer X: ' + packet.accelerometer_x + '<br>'
				+ ' Accelerometer Y: ' + packet.accelerometer_y + '<br>'
				+ ' Accelerometer Z: ' + packet.accelerometer_z + '<br>'
				+ ' Gyro X: ' + packet.yaw + '<br>'
				+ ' Gyro Y: ' + packet.pitch + '<br>'
				+ ' Gyro Z: ' + packet.roll + '<br>'
				+ ' Magnetometer X: ' + packet.magnetometer_x + '<br>'
				+ ' Magnetometer Y: ' + packet.magnetometer_y + '<br>'
				+ ' Magnetometer Z: ' + packet.magnetometer_z + '<br>'
				+ ' Velocity: ' + packet.kalman_velocity + '<br>'
				+ ' Temperature: ' + packet.temperature + '<br>'
				+ ' E-match status: ' + packet.ematch_status + '<br>'
				+ ' Timestamp: ' + packet.timestamp + '<br>'
				+ ' Age: ' + ((new Date()).getTime() - packet.timestamp) + '<br>'
				+ ' Time between packets: ' + timeSinceLast + 'ms<br>'
				+ '<br><br>';

			//var newDiv = document.createElement('div');

			//var textNode = document.createTextNode(text);
			//newDiv.innerHtml = text;
			//newDiv.appendChild(textNode);
			//document.body.appendChild(newDiv);

			// beforebegin, afterbegin, beforeend, afterend
			//document.body.insertAdjacentHTML('afterbegin', text);

			if (packet.part === "Booster") {
				document.getElementById("booster-current").innerHTML = text;
			} else if (packet.part === "Sustainer") {
				document.getElementById("sustainer-current").innerHTML = text;
			}

			//document.body.innerHTML += text;

		}



</script>
