[Unit]
Description=Groundstation

[Service]
Type=simple
ExecStart=/usr/bin/npm --prefix /home/pi/groundstation/server start
Restart=always

[Install]
WantedBy=multi-user.target
Alias=groundstation
